* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fb8500;
  padding: 15px 50px;
  border-top: 10px solid #222;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
  height: auto;
}

.menu {
  display: flex;
  list-style: none;
  gap: 0.5vw;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #555;
}

.layout {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;

  display: flex;
  gap: 16px;
}

.grow1 {
  flex-grow: 1;
}

.grow1 img {
  width: 800px;
  height: auto;
}

h1 {
  text-transform: uppercase;
  font-size: 3vw;
}

.hero-btn {
  background-color: #fb8500;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2vw;
}

.bandeaux {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb8500;
  height: 50px;
}

.menu2 {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: 1.2vw;
}

.menu2 li {
  display: flex;
  align-items: center;
}

.menu2 li a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.menu2 li a:hover {
  color: #555;
}

.layout2 {
  display: flex;
  align-items: center;
  width: 100%;

  display: flex;
  gap: 16px;
}

.grow2 {
  flex-grow: 1;
}

.grow2 img {
  width: 800px;
  height: auto;
}

h2 {
  text-transform: uppercase;
  color: #fc8400;
}
